body {
  background-color: #000000;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  border: 3px solid #ff0000;
  background-color: #000000;
}

.x {
    background-image: url('./X.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.o {
    background-image: url('./O.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.winner {
  background-color: #ff0000;
}

button {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  padding: 10px 20px;
  border: none;
  margin: 20px auto;
  display: block;
}
